* {
  box-sizing: border-box;
}

body{
  background-color:rgba(34,34,34,0.05);
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
  margin : 80px 0 300px 0;
}

.article{
  background-color: #ebebeb;
}

.page-title{
  opacity:0.95;
  font-size: 35px;
  padding-bottom: 10px;
  text-align: center;
}

@media (max-width: 992px){
  .heading{
    opacity:0.79;
  }
  .paragraph{
    float:none;
  }
}