* {
    box-sizing: border-box;
}

.form {
    padding-left: 80px;
    padding-bottom: 50px;
}

.contract-address {
    font-size: 25px;
    text-align: center;
    padding-bottom: 30px;
}

.not-found {
    position: relative;
    text-align: center
}

.stamp-result {
    top: 25px;
    position: relative;
    width: 50%;
    height: 150px;
    text-align: center;
    left: 25%;
}

.buttons-container {
    text-align: center;
    padding-bottom: 20px;
}

.paragraph {
    font-size: 18px;
    padding-bottom: 20px;
}

.title {
    font-size: 35px;
    text-align: center;
    padding-bottom: 20px;
}

.patent-table {
}

.patent-table td {
    cursor: pointer;
}

@media (max-width: 992px) {
    .paragraph {
        float: none;
    }
}
