* {
    box-sizing: border-box;
}

.form {
    padding-left: 80px;
    padding-bottom: 100px;

}

.contract-address {
    font-size: 25px;
    text-align: center;
    padding-bottom: 30px;
}

.not-found {
    position: relative;
    text-align: center
}


.buttons-container {
    text-align: center;
    padding-bottom: 75px;
}

.paragraph {
    font-size: 18px;
    padding-bottom: 50px;
}

.encrypt-button{
    padding-bottom: 10px;
}
.title {
    font-size: 35px;
    text-align: center;
    padding-bottom: 20px;
}

.patent-table {
    margin-bottom: 250px;
}

.patent-table td {
    cursor: pointer;
}

.requests-container{
    width : 60%;
    margin-left : 20%;
    margin-bottom: 50px;
}

.request-list{
    margin-top: 15px;
    margin-bottom: 100px;
}

.request-title{
    font-size: 17px;
    text-align: center;
}

.download-label{
    background-color: #e5e5e5;
}



@media (max-width: 992px) {
    .paragraph {
        float: none;
    }
}
