/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

.time-stamp-container{
  text-align: center;
  width : 100%;
  padding : 45px 20px
}

.form-container {
  margin : auto;
  text-align: left;
  width: 50%;
  padding: 40px 40px;
}




